<div class="sheltershow">
  <h1 class="title"><%= link_to @shelter.name, "/shelters/#{@shelter.id}" %></h1>
  <ul>
    <p><%= @shelter.address %></p>
    <p><%= @shelter.city %></p>
    <p><%= @shelter.state %></p>
    <p><%= @shelter.zip %></p>
  </ul>
  <section id="statistics">
    <p><%= "Pets: #{@shelter.pet_count}" %></p>
    <% if @shelter.shelter_reviews.length > 0 %>
      <p><%= "Average Rating: #{@shelter.average_rating.round(1)}" %></p>
    <% end %>
    <p><%= "Current Applications: #{@shelter.count_current_applications}" %></p>
  </section>
</div>
<ul class="menu">
  <li><%= link_to "Shelter Pets", "/shelters/#{@shelter.id}/pets" %></li>
  <li><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %></li>
  <li><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %></li>
</ul>
<hr >
<h2 id="review-title">Reviews for this Shelter</h2>
<% @shelter.shelter_reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <div class="review-wrapper">
      <div class="review">
        <h1><%= review.title %></h1>
        <p><%= "#{review.rating}/5" %></p>
        <p><%= review.content %></p>
        <% if !review.image.nil? && !(review.image == "") %>
          <img src="<%= review.image %>" alt="<%= review.title %>" />
        <% end %>
        <ul class="menu">
          <li><%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %></li>
          <li><%= link_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}delete", method: :delete %></li>
        </ul>
      </div>
    </div>
  </section>
<% end %>
<div class="link"><%= link_to "Post a Review", "/shelters/#{@shelter.id}/reviews/new" %></div>
