<div class="sheltershow">
  <h1 class="title"><%= link_to @shelter.name, "/shelters/#{@shelter.id}" %></h1>
  <ul>
    <p><%= @shelter.address %></p>
    <p><%= @shelter.city %></p>
    <p><%= @shelter.state %></p>
    <p><%= @shelter.zip %></p>
  </ul>
</div>

<section id="statistics">
  <%= "Pets: #{@shelter.pet_count}" %>
  <% if @shelter.shelter_reviews.length > 0 %>
    <%= "Average Rating: #{@shelter.average_rating.round(1)}" %>
  <% end %>
  <%= "Current Applications: #{@shelter.current_applications}" %>
</section>
<ul class="menu">
  <li><%= link_to "Shelter Pets", "/shelters/#{@shelter.id}/pets" %></li>
  <li><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %></li>
  <li><%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %></li>
</ul>
<%= link_to "Post a Review", "/shelters/#{@shelter.id}/reviews/new" %>
<% @shelter.shelter_reviews.each do |review| %>
  <section id="review-<%= review.id %>">
    <h1><%= review.title %></h1>
    <p><%= "#{review.rating}/5" %><%= review.content %></p>
    <%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %>
    <%= link_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{review.id}delete", method: :delete %>
    <% if !review.image.nil? && !(review.image == "") %>
      <img src="<%= review.image %>" alt="<%= review.title %>" />
    <% end %>
  </section>
<% end %>
