<h1 class="title">Favorite Pets</h1>
<% if @pets == [] %>
  <h1 align="center">No pets are currently favorited!</h1>
<% else %>
  <ul class="menu">
    <li><%= link_to 'Remove All Favorites', "/favorites", method: :delete %></li>
    <li><%= link_to 'Apply to Adopt', "/applications/new", method: :get %></li>
  </ul>
  <div class="wrapper">
    <% @pets.each do |pet| %>
      <section id="pet-<%= pet.id %>">
          <div class="gallery">
            <img src=<%= pet.image %> />
            <div class="desc">
              <p class="pet_link"><%= link_to pet.name, "/pets/#{pet.id}" %></p>
              <ul class="menu">
                <li><%= link_to 'Update Pet', "/pets/#{pet.id}/edit" %></li>
                <li><%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %></li>
                <li><%= button_to 'Remove from Favorites', "/favorites/#{pet.id}", method: :delete %></li>
              </ul>
            </div>
          </div>
      </section>
    <% end%>
  </div>
<% end %>
<hr>
<section id="pets-with-applications">
  <h2 id="favorite-application-title">Pets You Applied For</h2>
  <% @pending_pets.each do |pet| %>
    <section id="pet-<%= pet.id %>">
    <h3 align="center"><%= link_to pet.name, "/pets/#{pet.id}" %></h3>
    </section>
  <% end %>
</section>
